<h1>Album Index</h1>

<div>
    <% albums.forEach(album => { %>
        <p>
            <span>Title: <a href="/albums/<%= album._id%>"> <%= album.title %></a></span> <br>
            <span>Artist: <%= album.artist %></a></span> <br>
            <span>Year:  <%= album.releaseYear %></a></span> <br>
            <span>Tracks: <%= album.songs.length %></span>
        </p>
        
        <hr>
    <% }) %>
</div>